@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
button {
    background: linear-gradient(to right, #b433ff, #284aff);
    width: 50%;
    height: 35px;
    font-weight: 300;
    font-size: 1.2rem;
    font-family: "Poppins";
    color: white;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in;
}

button:hover {
    background: linear-gradient(to left, #b433ff, #284aff);
    /* background: linear-gradient(to right, #2dc7ed, #538bf0); */
    letter-spacing: 2px;
}