@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
button {
    background: linear-gradient(to right, #b433ff, #284aff);
    width: 50%;
    height: 35px;
    color: white;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in;
    margin-top: 15px;
}

button:hover {
    background: linear-gradient(to left, #b433ff, #284aff);
    letter-spacing: 2px;
}

.spacy {
    margin-right: 5px;
    font-weight: 600;
    font-size: 1.05rem;
    font-family: "Poppins";
}

.alert-menssagem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(to left, #284aff, #b433ff) no-repeat;
    width: 30%;
    height: 8%;
    top: 2px;
    right: 0;
    margin-right: 10px;
    animation: menssagem 1.5s ease-in-out alternate;
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.2rem;
}

@keyframes menssagem {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
